
body, html {
  height: 100%;
  margin: 0;
}


/* Predict Button */    
.myButton {
	background-color: DodgerBlue;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 7px 30px;
	margin-top: 10px;
	text-decoration: none;
	transition: 0.5s ease-out;
	
}

.myButton:hover{
	background-color: #E9E9E9;
	color: #000000;
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
}

.myButton:active {
	position:relative;
	top:1px;
}
